@import "_nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	cursor: url(/img/cart.svg), auto;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1110px;
	padding: 0 40px;
	@media (max-width:767px) {
		padding: 0 15px;
	}
}
.header {
	height: 55px;
	width: 100%;
	position: fixed;
	z-index: 5;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
	background: #1E6140;
  &__flex {
    display: flex;
    align-items: center;
		justify-content: space-between;
  }

	&__elements {
		display: flex;
		width: 100%;
		justify-content: end;
		align-items: center;
	}

	&__links a {
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		margin-right: 13px;
		text-decoration: underline;
		transition: all .2s ease;
		text-decoration-color: #1E6140;
		&:last-child {
			margin: 0;
		}
		&:hover, &:active, &:focus {
			color: #84c551;
			text-decoration-color: #84c551;
		}
	}

	&__logo {
		transition: all .2s ease;
		&:hover, &:active, &:focus {
			transform: translateY(-4px);
		}
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__vertical-line-before-search {
		width: 1px;
		border-radius: 1px;
		height: 28px;
		background: #fff;
		margin: 0 0 0 14px;
	}

	&__elements .square-btns {
		margin-left: 15px;
	}

	&__bottom-btns {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__bottom-btns-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__categories {
		display: flex;
		& a {
			margin-right: 15px;
		}
	}

	&__bottom-btn {
		display: flex;
		align-items: center;
		border: 1.5px solid #E74E13;
		border-radius: 20px;
		height: 40px;
		width: fit-content;
		transition: all .2s ease;
		&:hover, &:active, &:focus {
			background: #E74E13;
			& svg path {
				fill: #fff;
			}
			& p {
				color: #fff;
			}
		}
	}

	&__bottom-btn-img {
		margin-left: 14px;
	}

	&__bottom-btn-text {
		margin: 0 14px;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #000;
	}

	&__mobile-btns {
		display: none;
	}

	&__burger-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		padding: 0;
		transform: rotate(180deg) translateX(-5px);
	}
	&__burger-btn-line {
		fill: none;
		stroke: #84c551;
		stroke-width: 6;
		transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__burger-btn-line1 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	&__burger-btn-line2 {
		stroke-dasharray: 60 60;
		stroke-width: 6;
	}
	&__burger-btn-line3 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line1 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line2 {
		stroke-dasharray: 1 60;
		stroke-dashoffset: -30;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line3 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}

	&.burger {
		background: rgba(255, 255, 255, 0.1);
	}
	@media (max-width:767px) {
		height: 50px;
		&__elements {
			display: none;
		}
		&__mobile-btns {
			display: flex;
			& .cart {
				transform: scale(0.8);
			}
		}
		&__bottom-btns {
			top: 55px;
		}
		&__bottom-btn {
			display: flex;
			align-items: center;
			background: rgba(231, 78, 19, 0.4);
			border: 1.5px solid #e74e13;
			border-radius: 20px;
			height: 30px;
			width: fit-content;
			transition: all .2s ease;
			&:hover, &:active, &:focus {
				background: rgba(231, 78, 19, 0.4);
				& svg path {fill: #84BE51;}
				& p {color: #000;}
			}
			&.active {
				background: #E74E13;
				& svg path {
					fill: #fff;
				}
				& p {
					color: #fff;
				}
			}
		}
	}
}
@keyframes cart-color {
	0% {
		border: 1.5px solid #84c551;
	}
	100%{
		border: 1.5px solid #8d3200;
	}
}
.square-btns {
	position: relative;
	width: 40px;
	height: 40px;
	border: 1.5px solid #84c551;
	border-radius: 20px;
	overflow: hidden;
	transition: all .2s ease;
	&:hover, &:active, &:focus {
		border: 4px solid #84c551;
	}
}

.search {
	position: relative;
	width: 40px;
	margin: 0;
	overflow: hidden;
	border-radius: 20px;
	background: none;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 37px;
		transform: translateY(-50%);
		width: 1px;
		border-radius: 1px;
		height: 22px;
		background: #84BE51;
	}
	&:hover, &:active, &:focus, &.active {
		width: 155px;
	}
	&__container {
		position: absolute;
		right: 0;
		width: 150px;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__input {
		position: absolute;
		height: 100%;
		width: 100%;
		background: none;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		padding: 0 50px 0 10px;
		&::placeholder {
			color: rgba(255,255,255,0.9);
			font-weight: 300;
		}
		&:hover, &:active, &:focus, &.active .search {
			width: 155px;
		}
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8.5px;
		background: none;
		display: flex;
		align-items: center;
	}
	@media (max-width:767px) {
		width: 100%;
		&.active {width: 100%;}
		&__container {width: 100%;}
	}
}

.phone-btn {
	padding: 0 6px;
	display: flex;
	align-items: center;
	justify-content: start;
	position: relative;
	&:hover, &:active, &:focus {
		width: 143px;
		& .phone-btn__container {
			animation: phone 0.2s ease 1 forwards;
		}
	}
	@keyframes phone {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-31px);
		}
	}
	&__container {
		display: flex;
		align-items: center;
	}
	& svg {
		width: 25px;
		height: 25px;
		margin-right: 7px;
	}
	&__text {
		font-size: 13px;
		line-height: 15px;
		color: #fff;
		white-space: nowrap;
	}
	@media (max-width:767px) {
		width: 173px;
	}
}

.cart {
	display: flex;
	overflow: visible;
	align-items: center;
	justify-content: center;
	&__value {
		position: absolute;
		top: -6px;
		right: -6px;
		background: #8d3200;
		display: none;
		align-items: center;
		justify-content: center;
		height: 18px;
		width: fit-content;
		min-width: 18px;
		border-radius: 9px;
		color: #fff;
		font-size: 12px;
		padding: 0 5px;
	}
	&.active {
		animation: cart-color 0.5s ease infinite alternate;
		& .cart__value {display: flex;}
	}
}

.menu-burger {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	transition: all 0.5s ease;
	background: #1E6140;
	&__container {
		height: 100%;
		width: 100%;
		padding-top: 60px;
	}
	&__flex-line {
		display: flex;
		justify-content: end;
		margin-bottom: 10px;
		&:last-child {margin: 0;}
		& > * {
			margin-left: 10px;
			&:first-child {
				margin: 0;
			}
		}
	}
	& .phone-btn {
		&:hover, &:active, &:focus {
			width: 173px;
			& .phone-btn__container {
				animation: none;
			}
		}
	}
	&__decor-line {
		height: 2px;
		width: 100%;
		margin-top: 10px;
		background: rgba(255, 255, 255, 0.1);
	}

	&__links {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		padding-top: 130px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	&__link {
		font-weight: 300;
		font-size: 22px;
		line-height: 63px;
		color: #fff;
		text-decoration: underline !important;
		text-decoration-color: #1E6140 !important;
		&:hover, &:active, &:focus, &:active {
			color: #84c551 !important;
			text-decoration-color: #84c551 !important;
		}
	}
	
	&.burger {
		top: 0;
	}
}