@import "nullstyle.scss";
.header {
  &__flex {
    background: #1E6140;
    display: flex;
    align-items: center;
  }

		/* &__logo {}

		&__links {}

		&__catalog {}

		&__pay-and-delivery {}

		&__about-us {}

		&__search {}

		&__search-input {}

		&__search-btn {} */
}
/* .container {
} */
