@import "_nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background: #E5E5E5;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1110px;
	padding: 0 40px;
	@media (max-width:767px) {
		padding: 0 15px;
	}
}
.header {
	height: 55px;
	width: 100%;
	position: fixed;
	z-index: 5;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
	background: #1E6140;
  &__flex {
    display: flex;
    align-items: center;
		justify-content: space-between;
  }

	&__elements {
		display: flex;
		width: 100%;
		justify-content: end;
		align-items: center;
	}

	&__links a {
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		margin-right: 13px;
		text-decoration: underline;
		transition: all .2s ease;
		text-decoration-color: #1E6140;
		&:last-child {
			margin: 0;
		}
		&:hover, &:active, &:focus, &.active {
			color: #84c551;
			text-decoration-color: #84c551;
		}
	}

	&__logo {
		transition: all .2s ease;
		&:hover, &:active, &:focus, &.active {
			transform: translateY(-4px);
		}
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__vertical-line-before-search {
		width: 1px;
		border-radius: 1px;
		height: 28px;
		background: #fff;
		margin: 0 0 0 14px;
	}

	&__elements .square-btns {
		margin-left: 15px;
	}

	&__bottom-btns {
		position: absolute;
		top: 60px;
		left: 40px;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__bottom-btns-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__categories {
		display: flex;
		& a {
			margin-right: 15px;
		}
	}

	&__bottom-btn {
		display: flex;
		align-items: center;
		border: 1.5px solid #E74E13;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 20px;
		height: 40px;
		width: fit-content;
		transition: all .2s ease;
		&:hover, &:active, &:focus, &.active {
			background: #E74E13;
			& svg path {
				fill: #fff;
			}
			& p {
				color: #fff;
			}
		}
	}

	&__bottom-btn-img {
		margin-left: 14px;
	}

	&__bottom-btn-text {
		margin: 0 14px;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #000;
	}

	&__mobile-btns {
		display: none;
	}

	&__burger-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		padding: 0;
		transform: rotate(180deg) translateX(-5px);
	}
	&__burger-btn-line {
		fill: none;
		stroke: #84c551;
		stroke-width: 6;
		transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__burger-btn-line1 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	&__burger-btn-line2 {
		stroke-dasharray: 60 60;
		stroke-width: 6;
	}
	&__burger-btn-line3 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line1 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line2 {
		stroke-dasharray: 1 60;
		stroke-dashoffset: -30;
		stroke-width: 6;
	}
	.opened .header__burger-btn-line3 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}

	&.burger {
		background: rgb(68, 112, 85);
	}

	@media (max-width:767px) {
		height: 50px;
		&__elements {
			display: none;
		}
		&__mobile-btns {
			display: flex;
			& .cart {
				transform: scale(0.9);
			}
		}
		&__bottom-btns {
			top: 55px;
		}
		&__bottom-btn {
			display: flex;
			align-items: center;
			background: rgba(231, 78, 19, 0.4);
			border: 1.5px solid #e74e13;
			border-radius: 20px;
			height: 30px;
			width: fit-content;
			transition: all .2s ease;
			&:hover, &:active, &:focus, &.active {
				background: rgba(231, 78, 19, 0.4);
				& svg path {fill: #84BE51;}
				& p {color: #000;}
			}
			&.active {
				background: #E74E13;
				& svg path {
					fill: #fff;
				}
				& p {
					color: #fff;
				}
			}
		}
		&__bottom-btns {display: none;}
	}
}
@keyframes cart-color {
	0% {
		border: 1.5px solid #84c551;
	}
	100%{
		border: 1.5px solid #8d3200;
	}
}
.square-btns {
	position: relative;
	width: 40px;
	height: 40px;
	border: 1.5px solid #84c551;
	border-radius: 20px;
	overflow: hidden;
	transition: all .2s ease;
	&:hover, &:active, &:focus, &.active {
		border: 4px solid #84c551;
	}
}

.search {
	position: relative;
	width: 40px;
	margin: 0;
	overflow: hidden;
	border-radius: 20px;
	background: none;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 37px;
		transform: translateY(-50%);
		width: 1px;
		border-radius: 1px;
		height: 22px;
		background: #84BE51;
	}
	&__header-line {
		&:hover, &:active, &:focus, &.active {
			width: 155px;
		}
	}
	&__container {
		position: absolute;
		right: 0;
		width: 150px;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__input {
		position: absolute;
		height: 100%;
		width: 100%;
		background: none;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		padding: 0 50px 0 10px;
		&::placeholder {
			color: rgba(255,255,255,0.9);
			font-weight: 300;
		}
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8.5px;
		background: none;
		display: flex;
		align-items: center;
	}
	@media (max-width:767px) {
		width: 100%;
		&.active {width: 100%;}
		&__container {width: 100%;}
	}
}

.phone-btn {
	padding: 0 6px;
	display: flex;
	align-items: center;
	justify-content: start;
	position: relative;
	&:hover, &:active, &:focus, &.active {
		width: 143px;
		& .phone-btn__container {
			animation: phone 0.2s ease 1 forwards;
		}
	}
	@keyframes phone {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-31px);
		}
	}
	&__container {
		display: flex;
		align-items: center;
	}
	& svg {
		width: 25px;
		height: 25px;
		margin-right: 7px;
	}
	&__text {
		font-size: 13px;
		line-height: 15px;
		color: #fff;
		white-space: nowrap;
	}
	@media (max-width:767px) {
		width: 173px;
	}
}

.cart {
	display: flex;
	overflow: visible;
	align-items: center;
	justify-content: center;
	&__value {
		position: absolute;
		top: -6px;
		right: -6px;
		background: #8d3200;
		display: none;
		align-items: center;
		justify-content: center;
		height: 18px;
		width: fit-content;
		min-width: 18px;
		border-radius: 9px;
		color: #fff;
		font-size: 12px;
		padding: 0 5px;
	}
	&.active {
		animation: cart-color 0.5s ease infinite alternate;
		& .cart__value {display: flex;}
	}
}

.menu-burger {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	top: -100%;
	left: 0;
	transition: all 0.5s ease;
	background: #1E6140;
	&__container {
		height: 100%;
		width: 100%;
		padding-top: 60px;
	}
	&__flex-line {
		display: flex;
		justify-content: end;
		margin-bottom: 10px;
		&:last-child {margin: 0;}
		& > * {
			margin-left: 10px;
			&:first-child {
				margin: 0;
			}
		}
	}
	& .phone-btn {
		&:hover, &:active, &:focus, &.active {
			width: 173px;
			& .phone-btn__container {
				animation: none;
			}
		}
	}
	&__decor-line {
		height: 2px;
		width: 100%;
		margin-top: 10px;
		background: rgba(255, 255, 255, 0.1);
	}

	&__links {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		padding-top: 130px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	&__link {
		font-weight: 300;
		font-size: 22px;
		line-height: 63px;
		color: #fff;
		text-decoration: underline !important;
		text-decoration-color: #1E6140 !important;
		&:hover, &:active, &:focus, &:active {
			color: #84c551 !important;
			text-decoration-color: #84c551 !important;
		}
	}
	
	&.burger {
		top: 0;
	}
}

.full-screen {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&__backgr {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/bg.png') 0 100% / auto 100% no-repeat rgba(251, 241, 237) ;
	}
	
	&__front-img {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 42%;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 5;
			width: 50px;
			height: 50px;
			background: #fff;
		}
	}

	&__container {
		display: flex;
	}

	&__vector {
		margin: 27px 12px 0 0;
		align-self: flex-start;
	}

	&__content {
		max-width: 55%;
	}

	&__title {
		font-weight: 300;
		font-size: 55px;
		line-height: 67px;
		color: #000000;
		& span {font-weight: 700;}
	}

	&__info {
		font-size: 18px;
		line-height: 22px;
		color: rgba(0, 0, 0, 0.5);
		margin-top: 30px;
	}

	&__red-btn {
		margin-top: 23px;
	}
}

.red-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	background: #E74E13;
	border: 4px solid #E74E13;
	color: #fff;
	border-radius: 90px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	padding-left: 40px;
	padding-right: 40px;
	transition: all 0.2s ease;
	&:hover, &:active, &:focus, &.active {
		background: none;
		color: #84c551;
		border: 4px solid #84c551;
	}
}

.content-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.about-us {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		width: 90%;
		max-width: 1350px;
		padding: 100px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__big-img {
		height: 100%;
		max-width: 50%;
	}

	&__content {
		width: 45%;
	}

	&__block-text {
		margin-top: 15px;
	}

	&__paragraf {
		font-size: 16px;
		line-height: 20px;
		color: #1E6140;
		margin-top: 10px;
	}

	&__red-btn {
		margin-top: 35px;
	}
}
.fw-bold {
	font-weight: 700;
}

.title-img-before {
	display: flex;
	&__img {
		margin-right: 15px;
	}
	
	&__text {
		font-weight: 700;
		font-size: 45px;
		line-height: 55px;
		color: #000;
	}
}

.new-products {
	width: 100%;
	display: flex;
	justify-content: center;
}

.block-cards-scrolling {
	position: relative;
	width: 100%;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__btns {
		width: 100%;
		max-width: 1410px;
		height: 355px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn-arrow {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 2px solid #84BE51;
		background: none;
		transition: all 0.2s ease;
		&:hover, &:active, &:focus, &.active {
			background: #84BE51;
			& > svg path {
				fill: #fff;
			}
		}
		&:last-child {
			transform: rotate(180deg);
		}
	}

	&__container {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 355px;
	}

	&__title {
		font-weight: 700;
		font-size: 45px;
		line-height: 55px;
		margin-bottom: 40px;
		display: flex;
		&::before {
			content: url('../img/Vector.svg');
			display: block;
			width: 32px;
			height: 25px;
			margin-right: 15px;
		}
		&::after {
			content: url('../img/Vector.svg');
			display: block;
			width: 32px;
			height: 25px;
			margin-left: 15px;
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}

	&__scrolling-box {
		position: absolute;
		bottom: 0;
		width: calc(100% - 260px);
		max-width: 1110px;
		&_width-no-limit {
			width: 100%;
			max-width: 100%;
		}
		display: flex;
		justify-content: center;
		& > a {
			margin: 0 15px;
			display: flex;
		}
	}

	&__product-card {}

	&__bottom-anim-scrollbar {}
}

.product-card {
	display: block;
	position: relative;
	overflow: hidden;
	height: 355px;
	width: 255px;
	background: #fff;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.2s ease;
	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
		& .product-card__block-images {
			animation: card-images-hover 0.2s ease 1 forwards;
		}
	}
	&:not(:hover) {
		& .product-card__block-images {
			animation: card-images-not-hover 0.2s ease 1 forwards;
		}
	}

	&__block-images {
		height: 100%;
		min-width: 200%;
		& > div {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		& img {
			max-width: 235px;
			max-height: 185px;
		}
	}
	@keyframes card-images-hover {
		0% {transform: translateX(0%);}
		100% {transform: translateX(-50%);}
	}
	@keyframes card-images-not-hover {
		0% {transform: translateX(-50%);}
		100% {transform: translateX(0%);}
	}

	&__image {}

	&__block-info {
		width: 100%;
		min-height: 140px;
		padding: 20px 15px 15px 15px;
		margin-top: 10px;
		border-radius: 20px;
		background: rgba(140, 50, 19, 0.06);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
	}

	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__value {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #84BE51;
		&:after {
			content: ' грн.';
		}
	}

	&__btn-order {
		width: 46px;
		height: 46px;
		overflow: hidden;
		padding: 0 15px;
		border-radius: 23px;
		display: flex;
		align-items: center;
		justify-content: start;
		background: #fff;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
		transition: all 0.2s ease;
		& svg {
			min-width: 16px;
			min-height: 16px;
		}
		&:hover, &:active, &:focus, &.active {
			width: 105px;
			background: #8D3200;
			& > svg path {
				fill: #fff;
			}
		}
	}

	&__btn-text {
		color: #fff;
		display: inline-block;
		margin-left: 10px;
		font-size: 14px;
		line-height: 17px;
	}
}

.sales {
	margin-top: 120px;
	padding: 100px 0;
	width: 100%;
	background: #1E6140;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__title {
		color: #fff;
	}
	&__red-btn {
		margin-top: 40px;
	}
}

.card-partner {
	display: block;
	background: #fff;
	border-radius: 20px;
	width: 255px;
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	&__img {
		max-width: 175px;
		max-height: 85px;
	}
}

.partners {
	padding: 100px 0;

	&__container {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__btns {
		height: 125px;
	}
}

.description {
	height: 625px;
	padding: 100px 0 120px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../img/description-bg.png') center / cover #1E6140;

	&__title-text {
		color: #fff;
	}

	&__block-text {
		margin-top: 15px;
	}

	&__paragraf {
		color: #fff;
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 20px;
		&:last-child {
			margin: 0;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	background: #fff;
	overflow: hidden;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 100px 0;
	}

	&__column {
		width: 22%;
	}

	&__logo {
		width: 110px;
		margin-bottom: 15px;
	}

	&__description {
		font-size: 16px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.6);
	}

	&__mini-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 25px;
	}

	&__block-links a.square-btns {
		border: 1px solid #8C3213;
		margin: 12px 0;
		& svg path {
			fill: #8C3213;
		}
		& p {
			color: #000;
		}
		&:hover, &:active, &:focus, &.active {
			width: fit-content;
			& .phone-btn__container {
				animation: none;
			}
		}
	}

	&__link {
		display: block;
		margin: 12px 0;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		transition: all .2s ease;
		text-decoration: underline !important;
		text-decoration-color: #fff !important;
		&:hover, &:active, &:focus, &.active {
			color: #84c551;
			text-decoration-color: #84c551 !important;
		}
	}

	&__bottom-info {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 17px 0;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: rgba(0, 0, 0, 0.2);
			border-radius: 2px;
		}
	}

	&__bottom-paragraf {
		line-height: 17px;
		color: #000;
		opacity: 0.5;
	}

	&__scroll-back {
		position: absolute;
		bottom: -62px;
		/* transform: translateY(33%); */
		right: 10%;
		z-index: 1;
		width: 65px;
		height: 190px;
		background: #84C551;
		border-radius: 32.5px;
		display: flex;
		align-items: start;
		justify-content: center;
	}
	&__scroll-back-vector {
		margin-top: 30px;
	}
}